---
layout: default
title: 404
---

<!-- Begin Article
================================================== -->

<div class="row">

    <!-- Sidebar -->
    <div class="col-sm-4 order-last order-md-first">
    {% include "sidebar.html" %}
    </div>

    <!-- Post -->        
    {% set author = site.authors[author] %}
    
    <div class="col-sm-8">
        {% include "debug.html" %}

        <div class="mainheading">
            
            <h1 class="posttitle">404 - Not Found :(</h1>

            <p>Go to the <a href="/">main page</a>.</p>

        </div>

    </div>
    <!-- End Post -->
    
    

</div>

<!-- End Article
================================================== -->